<!-- Campi Ricerca -->
<div class="row buonores" style="padding-top: 5px; padding-bottom: 5px;">

  <div class="col-md-1"></div>

  <div class="col" style="max-width: 3000px;">
    <form [formGroup]="searchForm">
      <div class="row buonoresFilter">
        <!--Prima Riga-->
        <div class="row col-md-12" style="padding-top:30px;">

          <!--Sportello-->
          <div class="col-md-3 ricEs">
            <label class="filterLabel"><b>Sportello</b></label>
            <ng-container>
              <select formControlName="codSportello" id="codSportello"
                class="form-control form-control-sm campiricerca riga-totale-azzurra">
                <option value=""> </option>
                <option *ngFor="let sportello of client.listaSportelliSalvato?.sportelli"
                  [value]="sportello.codSportello">{{sportello.descSportello}}</option>
              </select>
            </ng-container>
          </div>

          <!--Numero Domanda-->
          <div class="col-md-3 ricEs">
            <label class="filterLabel"><b>Numero Domanda</b></label>
            <input formControlName="numeroDomanda" id="numeroDomanda" class="form-control campiricerca riga-totale-azzurra" type="text">
          </div>


        </div>

        <!--Seconda Riga-->
        <div class="row col-md-12" style="padding-top:30px;">

          <!--Stato Domanda-->
          <div class="col-md-3 ricEs">
            <label class="filterLabel"><b>Stato Domanda</b></label>
            <ng-container>
              <select formControlName="statoDomanda" id="statoDomanda"
                class="form-control form-control-sm statoCombo campiricerca">
                <option value=""> </option>
                <option *ngFor="let stato of client.listaStatiSalvato" [value]="stato.codStato">
                  {{stato.descStato}}</option>
              </select>
            </ng-container>
          </div>

          <!--Destinatario-->
          <div class="col-md-3 ricEs">
            <label class="filterLabel"><b>Destinatario </b>
              <div style="font-size: 11px; display: inline;">(Nome, Cognome o Codice fiscale)</div>
            </label>
            <input formControlName="destinatario" id="destinatario" class="form-control campiricerca" type="text">
          </div>

          <!--Richiedente-->
          <div class="col-md-3 ricEs">
            <label class="filterLabel"><b>Richiedente </b>
              <div style="font-size: 11px; display: inline;">(Nome, Cognome o Codice fiscale)</div>
            </label>
            <input formControlName="richiedente" maxlength="300" id="richiedente" class="form-control campiricerca"
              type="text">
          </div>

        </div>

        <!--Terza Riga-->
        <div class="row col-md-12" style="padding-top:30px;padding-bottom:30px;">

          <!--Stato Verifiche-->
          <div class="col-md-3 ricEs">
            <label class="filterLabel"><b>Stato verifica</b></label>
            <ng-container>
              <select formControlName="statoVerifica" id="idStatoVerifica"
                class="form-control form-control-sm campiricerca">
                <option value=""></option>
                <option *ngFor="let statoVerifica of statiVerifiche" [value]="statoVerifica">
                  <span>{{statoVerifica}}</span>
                </option>
              </select>
            </ng-container>
          </div>

          <div class="col-md-3 ricEs">
            <label class="filterLabel"><b>Verifica ente effettuata</b></label>
            <ng-container>
              <select formControlName="formStatoVerificaEnteGestore" id="idStatoVerificaEnteGestore"
                class="form-control form-control-sm campiricerca">
                <option value="" id="StatoVerificaEnteGestoreOption"> </option>
                <option *ngFor="let statoVerifica of client.listaStatiVericaEnteGestore" [value]="statoVerifica"
                  id="StatoVerificaEnteGestoreOption">{{statoVerifica}}</option>
              </select>
            </ng-container>
          </div>

          <div class="col-md-3 ricEs">
            <label class="filterLabel"><b>Ultima data verifiche</b></label>
            <input formControlName="dataVerificaA" id="dataVerificaA" class="form-control campiricerca"
              type="date">
          </div>

        </div>
        <div class="row col-md-12" style="padding-bottom:30px;">

          <div class="col-md-3 ricEs">
            <label class="filterLabel"><b>Decesso/Fuori Regione</b></label>
            <ng-container>
              <select formControlName="formDecessoResidenza" id="idDecessoResidenza"
                class="form-control form-control-sm campiricerca">
                <option value="" id="idDecessoResidenza"> </option>
                <option *ngFor="let element of client.listaDecessoResidenza" [value]="element" id="idDecessoResidenza">
                  {{element}}
                </option>
              </select>
            </ng-container>
          </div>

          <!--Spazio-->
          <div class="col-md-3 ricEs">
          </div>

          <!--Cerca-->
          <div class="col-md-3 verticalCentered ricEs">
            <button id="btnSearch" type="submit" class="btn btn-primary block bottonifunzione"
              [disabled]="!searchForm.valid" (click)="avviaRicerca()">
              Cerca
            </button>
            <button id="btnLoading" class="btn btn-primary block" type="button" disabled style="display: none;">
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Loading...
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="col-md-1"></div>
  </div>

<!-- Annulla Ricerca -->
<div class="row buonores" style="padding-top: 5px; padding-bottom: 5px;" *ngIf="ricercaEffettuata">
  <div class="col-md-1"></div>

  <div class="col-md-5" style="margin-bottom: 10px;">

    <span class="results" style="margin-bottom: 10px;">Risultati: {{ dataListaRichieste?.data.length }}</span>

  </div>

  <div class="col-md-6"></div>
  <div class="col-md-1"></div>
  <div class="col-md-5 align-self-end" style="margin-bottom: 15px;">
    <button type="button" class="btn btn-link pl-0" (click)="annullaRicerca()" style="color: #006CB4;">
      <span style="margin-bottom: 10px;"></span>
      <b style="font-size: 14px;">Annulla Ricerca</b>
    </button>
  </div>
  <div class="col-md-6"></div>
</div>

<!-- Colonne Ricerca -->
<div class="row buonores" style="padding-top: 5px; padding-bottom: 5px; " [hidden]="!ricercaEffettuata">
  <div class="col-md-1"></div>

  <div class="col-md-10" style="max-width: 3000px;">

    <!--Nomi Colonne-->
    <table mat-table matSort [dataSource]="dataListaRichieste" multiTemplateDataRows
      class="mb-3 table table-hover table-responsive-xl tabellabuonores" (matSortChange)="sortData($event)">

      <!--Tutti-->
      <!-- <ng-container matColumnDef="check">
        <th class="etichette-tabella" mat-header-cell *matHeaderCellDef>
          <input type="checkbox"  (click)="checkUncheckAll()" [(ngModel)]="selezionaTutto" id="tutti">
        </th>
        <td class="valori-tabella" mat-cell *matCellDef="let element">
          <input type="checkbox" [(ngModel)]="element.checked" (ngModelChange)="checkSelezione()">
        </td>
      </ng-container> -->

      <!-- Sportello -->
      <!-- <ng-container matColumnDef="sportelloDesc">
        <th class="etichette-tabella" mat-header-cell *matHeaderCellDef mat-sort-header>Sportello</th>
        <td class="valori-tabella" mat-cell *matCellDef="let element">{{element.sportelloDesc}}
        </td>
      </ng-container> -->

      <!--Numero Domanda-->
      <ng-container matColumnDef="numeroDomanda">
        <th class="etichette-tabella" mat-header-cell *matHeaderCellDef mat-sort-header> Numero <br>
          Domanda </th>
          <td class="valori-tabella" mat-cell *matCellDef="let element" matTooltip="{{ element.sportelloDesc }}"
            matTooltipPosition="above" matTooltipClass="tooltipsportello">
          {{element.numeroDomanda}}
         </td>
      </ng-container>

      <!--Destinatario-->
      <ng-container matColumnDef="Destinatario">
        <th class="etichette-tabella" mat-header-cell *matHeaderCellDef mat-sort-header>
          <div>Destinatario</div>
        </th>
        <td class="valori-tabella" mat-cell *matCellDef="let element">
            {{element.nomeDestinatario}} {{element.cognomeDestinatario}}<br>
            {{element.cfDestinatario}}
        </td>
      </ng-container>

      <!--Richiedente-->
      <ng-container matColumnDef="Richiedente">
        <th class="etichette-tabella" mat-header-cell *matHeaderCellDef mat-sort-header>
          <div>Richiedente</div>
        </th>
        <td class="valori-tabella" mat-cell *matCellDef="let element">
            {{element.nomeRichiedente}} {{element.cognomeRichiedente}}<br>
            {{element.cfRichiedente}}
        </td>
      </ng-container>

      <!--Stato Domanda-->
      <ng-container matColumnDef="codStato">
        <th class="etichette-tabella" mat-header-cell *matHeaderCellDef mat-sort-header> Stato <br> Domanda
        </th>
        <td class="valori-tabella" mat-cell *matCellDef="let element"> {{element.stato.descStato}}
        </td>
      </ng-container>

      <!--Data Domanda-->
      <ng-container matColumnDef="dataDomanda1">
        <th class="etichette-tabella" mat-header-cell *matHeaderCellDef mat-sort-header> Data<br>Domanda
        </th>
        <td class="valori-tabella" mat-cell *matCellDef="let element"> {{element.dataDomanda}}
        </td>
      </ng-container>

      <!-- Data decesso/Fuori Regione -->
      <ng-container matColumnDef="decessoResidenza">
        <th class="etichette-tabella" mat-header-cell *matHeaderCellDef mat-sort-header>
          Decesso<br>Fuori Regione
        </th>
        <td class="valori-tabella" mat-cell *matCellDef="let element">
          <span *ngIf="element.dataDecesso !== null">{{element.dataDecesso}} (D)</span>
          <span *ngIf="element.dataCambioResidenza !== null && element.dataDecesso === null">{{element.dataCambioResidenza}} (R)</span>
        </td>
      </ng-container>

      <!-- Ente Gestore GESTORE-->
      <ng-container matColumnDef="enteGestore">
				<th class="etichette-tabella" mat-header-cell *matHeaderCellDef mat-sort-header> Ente <br> Gestore </th>
				<td class="valori-tabella" mat-cell *matCellDef="let element"> {{element.enteGestore.denominazioneEnte}}
				</td>
			</ng-container>

      <!--Stato Verifica-->
      <!-- <ng-container matColumnDef="verificaEnte">
        <th class="etichette-tabella" mat-header-cell *matHeaderCellDef mat-sort-header> Stato
          Verifica </th>
        <td class="valori-tabella" mat-cell *matCellDef="let element">
          <span *ngIf="element.verifiche.verifica_eg_richiesta == true">Richiesta verifica</span>
          <span *ngIf="element.verifiche.verifica_eg_in_corso == true">Verifica in corso</span>
          <span *ngIf="element.verifiche.verifica_eg_conclusa == true">Verifica effettuata</span>
        </td>
      </ng-container> -->

      <!--Data Verifica-->
      <!-- <ng-container matColumnDef="dataVerifica">
        <th class="etichette-tabella" mat-header-cell *matHeaderCellDef mat-sort-header>Data<br>Verifica</th>
        <td class="valori-tabella" mat-cell *matCellDef="let element">
          {{ element.dataVerificaBuono }}
        </td>
      </ng-container> -->

      <!-- Esito verifica -->
      <!-- <ng-container matColumnDef="esitoVerifica">
        <th class="etichette-tabella" mat-header-cell *matHeaderCellDef mat-sort-header>Esito<br>
          Verifica </th>
        <td class="valori-tabella" mat-cell *matCellDef="let element">
          <span *ngIf="element.esitoVerificaBuono == true">Positivo</span>
          <span *ngIf="element.esitoVerificaBuono == false">Negativo</span>
        </td>
      </ng-container> -->

      <!-- StatoEsitoDatVerifica -->
      <ng-container matColumnDef="statoEsitoDataVerifica">
        <th class="etichette-tabella" mat-header-cell *matHeaderCellDef style="padding-right: 5px;">Verifica</th>
        <td class="valori-tabella" mat-cell *matCellDef="let element" style="padding-right: 5px;">
          <span *ngIf="element.verifiche.verifica_eg_richiesta == true">Richiesta verifica<br></span>
          <span *ngIf="element.verifiche.verifica_eg_in_corso == true">Verifica in corso<br></span>
          <span *ngIf="element.verifiche.verifica_eg_conclusa == true">Verifica effettuata<br></span>
          <span *ngIf="element.esitoVerificaBuono == true">Positivo</span>
          <span *ngIf="element.esitoVerificaBuono == false">Negativo</span>
          <br>
          {{ element.dataVerificaBuono }}
        </td>
      </ng-container>

      <!-- Data decorrenza buono -->
      <!-- <ng-container matColumnDef="dataDecorrenzaBuono">
        <th class="etichette-tabella" mat-header-cell *matHeaderCellDef mat-sort-header>Data<br>Decorrenza Buono </th>
        <td class="valori-tabella" mat-cell *matCellDef="let element">
        </td>
      </ng-container> -->

      <!-- Data fine buono -->
      <!-- <ng-container matColumnDef="dataFineBuono">
        <th class="etichette-tabella" mat-header-cell *matHeaderCellDef mat-sort-header>Data<br>Fine Buono </th>
        <td class="valori-tabella" mat-cell *matCellDef="let element">
        </td>
      </ng-container> -->

      <!-- Date decorrenza buono -->
      <ng-container matColumnDef="dateDecorrenzaBuono">
        <th class="etichette-tabella" mat-header-cell *matHeaderCellDef style="padding-right: 10px;">Date Decorrenza
          <br> Buono
        </th>
        <td class="valori-tabella" mat-cell *matCellDef="let element" style="padding-right: 10px;">
          <span *ngIf="element.decorrenzaInizio && element.decorrenzaFine">{{ element.decorrenzaInizio }} - {{
            element.decorrenzaFine }}</span>
        </td>
      </ng-container>

      <!--Azioni-->
      <ng-container matColumnDef="azione">
        <th class="etichette-tabella text-center" mat-header-cell *matHeaderCellDef>
          <div class="">Verifiche </div>
        </th>
        <td class="pulsanti-azioni" mat-cell *matCellDef="let element">
          <button type="button" (click)="routeTo('istruttoria',element,'/dati-istanza-ente')" class="btn" title="Dettaglio Domanda">
            <span class="fas fa-file-alt" style="color: #006CB4;" data-toggle="tooltip"></span>
          </button>
          <button *ngIf="checkAzione('verifiche')" type="button" class="btn" data-toggle="tooltip" title="Verifiche" (click)="openVerifiche(element)">
            <span class="fas fa-server" style="color: #006CB4;"></span>
          </button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!--Nessun Dato-->
    <div class="col-12" *ngIf="dataListaRichieste?.data?.length == 0" style="text-align: center;padding-top:30px;">
      <label class="no-data-available">Nessuna scheda soddisfa i criteri di ricerca selezionati</label>
    </div>

    <mat-paginator class="paginator" [length]="dataListaRichieste?.data.length" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]=true style="padding-top:30px;">
    </mat-paginator>
  </div>

  <div class="col-md-1"></div>

</div>

<!-- Pulsanti -->
<!-- <div class="tab-row">
  <div class="row justify-content-end">
    <div class="col-6" style="padding: 0 !important;">
    </div>
    <div class="col-5 buttonContainer text-right" style="padding: 0 !important;" *ngIf="checkAzione('avvia_verifica')">
      <button *ngIf="ricercaEffettuata" type="submit" class="btn btn-success"
        style="width: 220px; margin: 30px;"
        data-toggle="tooltip"(click)="avviaVerifica()" [disabled]="disabilitaAvviaVerifica">
        Avvia la verifica
      </button>
    </div>
    <div class="col-1" style="padding: 0 !important;"></div>
  </div>
</div> -->
