.q-header {
  height: 60px;
  .container, .q-toolbar, .lms-layout-header__toolbar__title  {
    height: 100%;
    align-items: center;
  }
  .q-toolbar {
    padding: 0px;
  }
  .lms-layout-header__toolbar__title {
    display: flex;
    max-width: 100%;

    .q-btn__wrapper {
      padding-left: 0px;
      padding-right: 0px;
    }

    .q-btn__content {
      @include font-size(28px);
      text-transform: none;
     
    }
  }
  .lms-layout-app-toolbar__title {
    &:first-child {
      padding-left: 5px;
    }
    
    a {
      color: $white;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .lms-layout-app-toolbar {
    background-color: $secondary;
    color: $white;
  }

  .lms-layout-header-profile-button {
    background-color: $white;
    color: $blue;
  }

}