$white: #FFFFFF;
$black: #000000;

$blue: #006CB4; //barra blu alert info || primary color
$blue-300: #DBEEF7; //sfondo blu alert info
$blue-400: #178CD6;
$blue-700: #005CA9;
$blue-900: #213366;

$yellow: #F8E60D; //barra gialla alert warning
$yellow-400: #FDF9E5; //sfondo giallo alert warning

$orange: #bf5a0c;

$red: #AD0000; //barra rosso alert error
$red-400: #f1dddd; //sfondo rosso alert error

$green: #61B87A; //barra verde alert success
$green-400: #DFF0D9; //sfondo verde alert success
$green-600: #007E2C;


$grey: #D3D3D3;
$grey-200: #F7F7F7;
$grey-400: #EAEAEA;
$grey-900: #939393;


$primary-color: $blue;
