<br>
<div class="row buonores" style="padding-top: 30px">
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <button type="button" class="btn btn-link pl-0" (click)="backButton()">
      <span class="fas fa-chevron-left"></span>
      <span style="margin-bottom: 10px; margin-left: 10px;"></span>
      Home
    </button>
  </div>

  <div class="col-md-3"></div>

</div>
<div *ngIf="showFeedback" class="row buonores" style="padding-top: 30px">
  <div class="col-1"></div>
  <div class="col-5" style="background-color: rgba(26, 155, 115, .1) 0% 0% no-repeat padding-box;"><app-feedback
      *ngIf="showFeedback" [tipoFeedback]="tipoFeedback" [messaggio]="messaggioFeedback"
      (close)="onCloseFeedback()"></app-feedback></div>
  <div class="col-6"></div>
</div>
<div class="row buonores" style="padding-top: 30px">

  <div class="col-md-1"></div>

  <div class="col-md-2">
    <label class="text-nowrap titlePage">Dettaglio N. Domanda {{domanda?.numero}} del {{domanda?.data_aggiornamento |
      date: 'dd/MM/yyyy' }} in stato {{domanda?.domanda_stato_desc}}</label>
  </div>
  <div class="col-md-9"></div>

</div>

<!-- Tipo di contributo -->
<div class="row buonores section-contributo">
  <div class="col-md-1"></div>

  <div class="col-md-7">
    <div class="row buonoresFilter">

      <div class="row col-md-12" style="left: 13px;padding-top:20px;">
        <label class="titleLabelSection">Tipo di contributo richiesto</label>
      </div>
      <div class="row col-md-12" style="left: 13px;">
        <label class="inputLabel">{{domanda?.contributo_tipo_desc}}</label>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<!-- DENOMINAZIONE ENTE GESTORE-->
<div class="row buonores section-denominazione">
  <div class="col-md-1"></div>

  <div class="col-md-7">
    <div class="row buonoresFilter">
      <div class="row col-md-12" style="left: 13px; padding-top: 20px;">
        <label class="titleLabelSection">Destinatario buono</label>
      </div>
      <div class="row col-md-12" style="left: 13px; padding-top: 20px;">
        <label class="titleSection">Dati destinatario</label>
      </div>
      <div class="row col-md-12" style="left: 13px;padding-top:20px;">
        <div class="col-md-4" style="padding-left: 0px">
          <label class="inputLabel">Cognome</label><br>
          <label class="inputLabelBold">{{domanda?.destinatario.cognome}}</label>
        </div>

        <div class="col-md-4">
          <label class="inputLabel">Nome</label><br>
          <label class="inputLabelBold">{{domanda?.destinatario.nome}}</label>
        </div>
        <div class="col-md-4">
          <label class="inputLabel">Codice fiscale</label><br>
          <label class="inputLabelBold">{{domanda?.destinatario.cf}}</label>
        </div>
      </div>
      <div class="row col-md-12" style="left: 13px;padding-top:20px;">
        <div class="col-md-4" style="padding-left: 0px">
          <label class="inputLabel">Data di nascita</label><br>
          <label class="inputLabelBold">{{domanda?.destinatario.data_nascita | date: 'dd/MM/yyyy'}}</label>
        </div>
        <div class="col-md-4">
          <label class="inputLabel">Nato a</label><br>
          <label class="inputLabelBold">{{domanda?.destinatario.comune_nascita}}
            ({{domanda?.destinatario.provincia_nascita}})</label>
        </div>
        <div class="col-md-4">
          <label class="inputLabel">Stato</label><br>
          <label class="inputLabelBold">{{domanda?.destinatario.stato_nascita}}</label>
        </div>
      </div>

      <div class="row col-md-12" style="left: 13px;padding-top:20px;">
        <div class="col-md-4" style="padding-left: 0px">
          <label class="inputLabel">Residente a</label><br>
          <label class="inputLabelBold">{{domanda?.destinatario.comune_residenza}}
            ({{domanda?.destinatario.provincia_residenza}})</label>
        </div>
        <div class="col-md-4">
          <label class="inputLabel">Indirizzo</label><br>
          <label class="inputLabelBold">{{domanda?.destinatario.indirizzo_residenza}}</label>
        </div>
        <div class="col-md-4">
          <label class="inputLabel">Asl</label><br>
          <label class="inputLabelBold">{{domanda?.asl_destinatario_desc}}</label>
        </div>
      </div>
      <div class="row col-md-12" style="left: 13px;padding-top:20px;">
        <div class="col-md-4" style="padding-left: 0px">
          <label class="inputLabel">Domiciliato a</label><br>
          <label class="inputLabelBold">{{domanda?.domicilio_destinatario.comune}}
            ({{domanda?.domicilio_destinatario.provincia}})</label>
        </div>
        <div class="col-md-4">
          <label class="inputLabel">Indirizzo</label><br>
          <label class="inputLabelBold">{{domanda?.domicilio_destinatario.indirizzo}}</label>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row col-md-12" style="left: 13px;padding-top:20px;"
        *ngIf="domanda?.richiedente.cf===domanda?.destinatario.cf">
        <div class="col-md-4" style="padding-left: 0px">
          <label class="inputLabel">Email</label><br>
          <label class="inputLabelBold">{{domanda?.contatto.email}}</label>
        </div>
        <div class="col-md-4">
          <label class="inputLabel">N&deg; telefono</label><br>
          <label class="inputLabelBold">{{domanda?.contatto.sms}}</label>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row col-md-12" style="left: 13px;padding-top:20px;">
        <div class="col-md-8" style="padding-left: 0px">
          <label class="inputLabel">Titolo di studio</label><br>
          <label class="inputLabelBold">{{domanda?.studio_destinatario_desc}}</label>
        </div>
        <div class="col-md-4">
          <label class="inputLabel">Situazione lavorativa</label><br>
          <label class="inputLabelBold">{{domanda?.lavoro_destinatario}}</label>
        </div>
      </div>
      <div class="row col-md-12" style="left: 13px; padding-top: 20px;"
        *ngIf="domanda?.richiedente.cf!==domanda?.destinatario.cf">
        <label class="titleSection">Dati richiedente</label>
      </div>
      <div class="row col-md-12" style="left: 13px;padding-top:20px;"
        *ngIf="domanda?.richiedente.cf!==domanda?.destinatario.cf">
        <div class="col-md-4" style="padding-left: 0px">
          <label class="inputLabel">Cognome</label><br>
          <label class="inputLabelBold">{{domanda?.richiedente.cognome}}</label>
        </div>

        <div class="col-md-4">
          <label class="inputLabel">Nome</label><br>
          <label class="inputLabelBold">{{domanda?.richiedente.nome}}</label>
        </div>
        <div class="col-md-4">
          <label class="inputLabel">Codice fiscale</label><br>
          <label class="inputLabelBold">{{domanda?.richiedente.cf}}</label>
        </div>
      </div>
      <div class="row col-md-12" style="left: 13px;padding-top:20px;"
        *ngIf="domanda?.richiedente.cf!==domanda?.destinatario.cf">
        <div class="col-md-4" style="padding-left: 0px">
          <label class="inputLabel">Data di nascita</label><br>
          <label class="inputLabelBold">{{domanda?.richiedente.data_nascita | date: 'dd/MM/yyyy'}}</label>
        </div>
        <div class="col-md-4">
          <label class="inputLabel">Nato a</label><br>
          <label class="inputLabelBold">{{domanda?.richiedente.comune_nascita}}
            ({{domanda?.richiedente.provincia_nascita}})</label>
        </div>

        <div class="col-md-4">
          <label class="inputLabel">Stato</label><br>
          <label class="inputLabelBold">{{domanda?.richiedente.stato_nascita}}</label>
        </div>
      </div>

      <div class="row col-md-12" style="left: 13px;padding-top:20px;"
        *ngIf="domanda?.richiedente.cf!==domanda?.destinatario.cf">
        <div class="col-md-4" style="padding-left: 0px">
          <label class="inputLabel">Residente a</label><br>
          <label class="inputLabelBold">{{domanda?.richiedente.comune_residenza}}
            ({{domanda?.richiedente.provincia_residenza}})</label>
        </div>
        <div class="col-md-6">
          <label class="inputLabel">Indirizzo</label><br>
          <label class="inputLabelBold">{{domanda?.richiedente.indirizzo_residenza}}</label>
        </div>
      </div>
      <div class="row col-md-12" style="left: 13px;padding-top:20px;"
        *ngIf="domanda?.richiedente.cf!==domanda?.destinatario.cf">
        <div class="col-md-4" style="padding-left: 0px">
          <label class="inputLabel">Email</label><br>
          <label class="inputLabelBold">{{domanda?.contatto.email}}</label>
        </div>
        <div class="col-md-4">
          <label class="inputLabel">N&deg; telefono</label><br>
          <label class="inputLabelBold">{{domanda?.contatto.sms}}</label>
        </div>
        <div class="col-md-4"></div>
      </div>
      <div class="row col-md-12" style="left: 13px;padding-top:20px; padding-bottom:20px;"
        *ngIf="domanda?.richiedente.cf!==domanda?.destinatario.cf">
        <div class="col-md-12" style="padding-left: 0px">
          <label class="inputLabel">Il richiedente opera in qualita' di</label><br>
          <label class="inputLabelBold">{{domanda?.delega_desc}}</label>
        </div>
      </div>
      <div class="row col-md-12 inputLabel" style="left: 13px; padding-top:20px;padding-bottom:20px;"
        *ngIf="this.delega!==null">
        Copia delega
      </div>
      <div class="row col-md-12" style="left: 13px;" *ngIf="checkAzione('scarica_allegato') && this.delega!==null">
        <!--  <button type="button" class="btn btn-link"
                 (click)="scaricaallegato('DELEGA')" [disabled]="this.disabilitaForm">{{this.delega}}</button>-->
        <a href={{this.urlDelega}} [ngClass]="this.disabilitaAllegati ? 'disabledLink'  :null"
          target="_blank">{{this.delega}}</a>
      </div>
      <div class="row col-md-12 inputLabel" style="left: 13px; padding-top:20px;padding-bottom:20px;"
        *ngIf="this.cartaidentita!==null">
        Copia carta d'identit&agrave;
      </div>
      <div class="row col-md-12" style="left: 13px;"
        *ngIf="checkAzione('scarica_allegato') && this.cartaidentita!==null">
        <!--   <button type="button" class="btn btn-link"
                 (click)="scaricaallegato('CARTA_IDENTITA')" [disabled]="this.disabilitaForm">{{this.cartaidentita}}</button>-->
        <a href={{this.urlCartaIdentita}} [ngClass]="this.disabilitaAllegati ? 'disabledLink'  :null"
          target="_blank">{{this.cartaidentita}}</a>
      </div>
      <div class="row col-md-12 inputLabel" style="left: 13px; padding-top:20px;padding-bottom:20px;"
        *ngIf="this.procuraspeciale!==null">
        Procura speciale
      </div>
      <div class="row col-md-12" style="left: 13px;"
        *ngIf="checkAzione('scarica_allegato') && this.procuraspeciale!==null">
        <!--  <button type="button" class="btn btn-link"
                 (click)="scaricaallegato('PROCURA_SPECIALE')" [disabled]="this.disabilitaForm">{{this.procuraspeciale}}</button>-->
        <a href={{this.urlProcuraSpeciale}} [ngClass]="this.disabilitaAllegati ? 'disabledLink'  :null"
          target="_blank">{{this.procuraspeciale}}</a>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>

</div>
<!-- ISEE -->
<div class="row buonores section-isee" style="padding-bottom: 20px">

  <div class="col-md-1"></div>

  <div class="col-md-7">
    <div class="row buonoresFilter" style="padding-bottom: 20px;">

      <div class="row col-md-12" style="left: 13px; padding-top: 20px;">
        <label class="titleLabelSection">Modulo</label>
      </div>
      <div class="row col-md-12" style="left: 13px; padding-top: 20px;">
        <label class="titleSection">Attestazione I.S.E.E</label>
      </div>
      <div class="row col-md-12" style="left: 13px; padding-top:20px;padding-bottom:20px;">
        <div class="col-md-10 inputLabel" style="padding-left: 0px">
          Il destinatario &egrave; in possesso di un attestato I.S.E.E. socio - sanitario in corso di validit&agrave;
          avente un valore inferiore a 50.000 euro (65.000 euro per i minori e disabili)
        </div>
      </div>
      <div class="row col-md-12" style="left: 13px; padding-top:20px;padding-right: 20px;">
        <div class="row col-md-11 table_head" style="padding-top:20px;padding-bottom:20px;">
          <div class="col-md-3">
            Esito verifica
          </div>
          <div class="col-md-3">
            Valore verificato
          </div>
          <div class="col-md-3">
            Data richiesta
          </div>
          <div class="col-md-3">
            Data scadenza
          </div>
          <!-- [disabled]="this.disabilitaForm" -->
          <!-- <div class="col-md-2" *ngIf="checkAzione('verifica_isee')">
        <button id="btnvericaisee" type="submit" disabled class="btn btn-primary" (click)="verificaisee()">
          Verifica ISEE
        </button>
      </div> -->
        </div>
      </div>
      <div class="row col-md-12 " style="left: 13px; padding-top:20px;">
        <div class="row col-md-11 verifica" style="padding-top:20px;padding-bottom:20px;">
          <div class="col-md-3 inputLabel">
            {{domanda?.isee.isee_verificato_conforme}}
          </div>
          <div class="col-md-3 inputLabel campoverificaok" *ngIf="domanda?.isee.isee_verificato_conforme === true">
            {{domanda?.isee.isee_valore}}
          </div>
          <div class="col-md-3" *ngIf="domanda?.isee.isee_verificato_conforme === false">
            <label class="inputLabel campoverificako">{{domanda?.isee.isee_valore}}</label>
          </div>
          <div class="col-md-3 inputLabel" *ngIf="domanda?.isee.isee_verificato_conforme === null">
            {{domanda?.isee.isee_valore}}
          </div>
          <div class="col-md-2 inputLabel">
            {{domanda?.isee.isee_data_rilascio | date: 'dd/MM/yyyy'}}
          </div>
          <div class="col-md-2 inputLabel">
            {{domanda?.isee.isee_scadenza | date: 'dd/MM/yyyy'}}
          </div>
          <div class="col-md-2">
          </div>
        </div>
      </div>
      <div class="row col-md-12" style="left: 13px; padding-top: 20px;">
        <label class="titleSection">Punteggio bisogno sociale</label>
      </div>
      <div class="row col-md-12" style="left: 13px; padding-top:20px;padding-bottom:20px;">
        <div class="col-md-10 inputLabel" style="padding-left: 0px">
          Il destinatario &egrave; gi&agrave; stato sottoposto a &ldquo;valutazione multidimensionale&rdquo; presso le
          Unit&agrave; di Valutazione competenti (U.V.G. - ANIZIANI, o U.M.V.D. - DISABILI), e di essere in possesso di
          un punteggio sociale pari a:
        </div>
      </div>
      <div class="row col-md-12" style="padding-top:20px; padding-bottom:20px;">
        <div class="col-md-12">
          {{domanda?.punteggio_bisogno_sociale}}
        </div>
      </div>
      <div class="row col-md-12" style="left: 13px; padding-top:20px;padding-bottom:20px;">
        <div class="col-md-12 inputLabel" style="padding-left: 0px">
          Copia verbale o lettera di comunicazione
        </div>
      </div>
      <div class="row col-md-12" *ngIf="checkAzione('scarica_allegato')" style="left: 13px;">
        <!--   <button type="button" class="btn btn-link"
                 (click)="scaricaallegato('VERBALE')" [disabled]="this.disabilitaForm"></button>-->
        <a href={{this.urlVerbale}} [ngClass]="this.disabilitaAllegati ? 'disabledLink'  :null"
          target="_blank">{{this.verbale}}</a>
      </div>


      <div class="row col-md-12" style="left: 13px; padding-top: 20px;">
        <label class="titleSection">Requisiti di compatibilit&agrave;</label>
      </div>
      <div class="row col-md-12 inputLabel" style="left: 13px; padding-top: 20px;"
        *ngIf="domanda?.valutazione_multidimensionale==='UMVD'">
        Il destinatario &egrave; persona con disabilit&agrave;, non autosufficiente
      </div>
      <div class="row col-md-12 inputLabel" style="left: 13px; padding-top: 20px;"
        *ngIf="domanda?.valutazione_multidimensionale==='UVG'">
        Il destinatario &egrave; persona di et&agrave; pari o superiore a 65 anni, non autosufficiente.
      </div>
      <div class="row col-md-10 inputLabel" style="left: 13px; padding-top: 40px;"
        *ngIf="domanda?.nessuna_incompatibilita">
        Il destinatario non &egrave; beneficiario di altre misure aventi natura di trasferimento monetario
        specificatamente destinato al sostegno della redidenzialit&agrave;.
      </div>
      <div class="row col-md-10 inputLabel" style="left: 13px; padding-top: 40px;"
        *ngIf="!domanda?.nessuna_incompatibilita">
        Il destinatario &egrave; beneficiario di altre misure aventi natura di trasferimento monetario specificatamente
        destinato/a al sostegno della redidenzialit&agrave; ed &egrave; disponibile a rinunciarvi in caso di assegnazione
        del buono.
      </div>

       <!-- <div class="row col-md-12" style="left: 13px; padding-top:20px;padding-right: 20px;">
         <div class="row col-md-11 table_head" style="padding-top:20px;padding-bottom:20px;">
          <div class="col-md-4">
             Esito verifica
            </div>
          <div class="col-md-4">
             Data richiesta
        </div>
           <div class="col-md-4">
            Note
        </div>
        </div>
      </div>
        <div class="row col-md-12 " style="left: 13px; padding-top:20px;">
        <div class="row col-md-11 verifica" style="padding-top:20px;padding-bottom:20px;">
          <div class="col-md-4 inputLabel">
          </div>
            <div class="col-md-4 inputLabel">
          </div>
           <div class="col-md-4 inputLabel">
          </div>
        </div>
        </div>-->

      <div class="row col-md-12" style="left: 13px; padding-top: 60px;">
        <label class="titleSection">Dati contrattuali</label>
      </div>
      <div class="row col-md-12" style="left: 13px; padding-top:20px;">
        <div class="col-md-10 inputLabel" style="padding-left: 0px"
          *ngIf="domanda?.contratto.tipo==='NESSUN_CONTRATTO'">
          Il destinatario non &egrave; in possesso di un contratto di ospitalit&agrave; con una Residenza Sanitaria Assistenziale,
          ma si impegna a sottoscriverne uno entro 30 giorni dalla data in cui avrà ricevuto comunicazione di assegnazione condizionata del Buono
        </div>
        <div class="col-md-10 inputLabel" style="padding-left: 0px;" *ngIf="domanda?.contratto.tipo==='CONTRATTO_RSA'">
          Il destinatario &egrave; in possesso di un contratto di ospitalit&agrave; con una Residenza Sanitaria Assistenziale.
        </div>
      </div>
      <div class="row col-md-12" style="left: 13px; padding-top:20px;"
        *ngIf="domanda?.contratto.tipo!=='NESSUN_CONTRATTO'">
        <div class="row col-md-12" style="padding-top: 40px;padding-left: 0px;">
          <!-- <label class="titleSection">Data inizio e data fine del contratto/Lettera di incarico</label> -->
          <label class="titleSection">Data inizio del contratto</label>
        </div>
        <div class="row col-md-12" style="padding-top:20px;padding-left: 0px;">
          <div class="col-md-4" style="padding-left: 0px">
            <label class="inputLabel">Data inizio</label><br>
            <label class="inputLabelBold">{{domanda?.contratto.data_inizio | date: 'dd/MM/yyyy'}}</label>
          </div>
          <!-- <div class="col-md-4">
            <label class="inputLabel">Data fine</label><br>
            <label class="inputLabelBold">{{domanda?.contratto.data_fine | date: 'dd/MM/yyyy'}}</label>
          </div> -->
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
        </div>
        <div class="row col-md-12" *ngIf="domanda?.contratto.tipo=='CONTRATTO_RSA'"
          style="padding-top: 20px;padding-left: 0px;">
          <div class="col-md-12" style="padding-top: 40px;padding-left: 0px;">
            <label class="titleSection">Dati RSA</label>
          </div>
          <div class="col-md-4" style="padding-left: 0px">
            <label class="inputLabel">Denominazione</label><br>
            <label class="inputLabelBold">{{domanda?.contratto.struttura.nome}}</label>
          </div>
          <div class="col-md-4" style="padding-left: 0px">
            <label class="inputLabel">Indirizzo</label><br>
            <label class="inputLabelBold">{{domanda?.contratto.struttura.indirizzo}}</label>
          </div>
          <div class="col-md-4" style="padding-left: 0px">
            <label class="inputLabel">Comune</label><br>
            <label class="inputLabelBold">{{domanda?.contratto.struttura.comune}}</label>
          </div>
          <div class="col-md-4" style="padding-left: 0px">
            <label class="inputLabel">Provincia</label><br>
            <label class="inputLabelBold">{{domanda?.contratto.struttura.provincia}}</label>
          </div>
          <div class="col-md-4" style="padding-left: 0px">
            <label class="inputLabel">PIVA</label><br>
            <label class="inputLabelBold">{{domanda?.contratto.struttura.piva}}</label>
          </div>
          <div class="col-md-4" style="padding-left: 0px">
            &nbsp;
          </div>
          <div class=" col-md-12" style="padding-top: 40px;padding-left: 0px;">
            <label class="titleSection">Dati Sede legale RSA</label>
          </div>
          <div class="col-md-4" style="padding-left: 0px">
            <label class="inputLabel">Denominazione</label><br>
            <label class="inputLabelBold">{{domanda?.contratto.struttura.sede_legale.nome}}</label>
          </div>
          <div class="col-md-4" style="padding-left: 0px">
            <label class="inputLabel">Indirizzo</label><br>
            <label class="inputLabelBold">{{domanda?.contratto.struttura.sede_legale.indirizzo}}</label>
          </div>
          <div class="col-md-4" style="padding-left: 0px">
            <label class="inputLabel">Comune</label><br>
            <label class="inputLabelBold">{{domanda?.contratto.struttura.sede_legale.comune}}</label>
          </div>
          <div class="col-md-4" style="padding-left: 0px">
            <label class="inputLabel">Provincia</label><br>
            <label class="inputLabelBold">{{domanda?.contratto.struttura.sede_legale.provincia}}</label>
          </div>
        </div>
        <div class="row col-md-12 inputLabelBold" style="padding-left: 0px;padding-top:20px;padding-bottom:20px;"
          *ngIf="this.contratto!==null">
          Copia contratto di lavoro
        </div>
        <div class="row col-md-12" style="padding-left: 0px;padding-top:20px;"
          *ngIf="checkAzione('scarica_allegato') && this.contratto!==null">
          <!-- <button type="button" class="btn btn-link" style="padding-left: 0px;"
                 (click)="scaricaallegato('CONTRATTO_RSA')" [disabled]="this.disabilitaForm">{{this.contratto}}</button> -->
          <a href={{this.urlContratto}} [ngClass]="this.disabilitaAllegati ? 'disabledLink'  :null"
            target="_blank">{{this.contratto}}</a>
        </div>
        <div class="row col-md-12 inputLabelBold" style="padding-left: 0px;padding-top:20px;padding-bottom:20px;"
          *ngIf="this.letteraincarico!==null">
          Copia lettera d'incarico di assistenza domiciliare
        </div>
        <div class="row col-md-12" style="padding-left: 0px;padding-top:20px;"
          *ngIf="checkAzione('scarica_allegato') && this.letteraincarico!==null">
          <!--  <button type="button" class="btn btn-link" style="padding-left: 0px;"
                 (click)="scaricaallegato('LETTERA_INCARICO')" [disabled]="this.disabilitaForm">{{this.letteraincarico}}</button>-->
          <a href={{this.urlLetteraIncarico}} [ngClass]="this.disabilitaAllegati ? 'disabledLink'  :null"
            target="_blank">{{this.letteraincarico}}</a>
        </div>

      </div>
      <!-- <div class="row col-md-12" style="left: 13px; padding-top:20px;"
        *ngIf="domanda?.contratto.tipo==='COOPERATIVA' || domanda?.contratto.tipo==='PARTITA_IVA'">
        <div class="row col-md-11 table_head" style="padding-top:20px;padding-bottom:20px;">
          <div class="col-md-3">
            Data verifica
          </div>
          <div class="col-md-4">
            Codice Ateco
          </div>
          <div class="col-md-5">
            Descrizione Ateco
          </div>
           <div class="col-md-3" *ngIf="checkAzione('verifica_ateco')">
        <button id="btnvericaateco" type="submit" [disabled]="this.disabilitaForm" class="btn btn-primary" (click)="verificaateco()">
          Verifica ATECO
        </button>
      </div>
        </div>
      </div> -->
      <!-- <div class="row col-md-12 " style="left: 13px; padding-top:20px;"
        *ngIf="domanda?.contratto.tipo==='COOPERATIVA' || domanda?.contratto.tipo==='PARTITA_IVA'">
        <div class="row col-md-11 verifica" style="padding-top:20px;padding-bottom:20px;">
          <div class="col-md-2 inputLabel">
            {{domanda?.ateco.ateco_verificato_in_data | date: 'dd/MM/yyyy'}}
          </div>
          <div class="col-md-3 inputLabel">
            {{domanda?.ateco.ateco_cod}}
          </div>
          <div class="col-md-7 inputLabel">
            {{domanda?.ateco.ateco_desc}}
          </div>
        </div>
      </div> -->
      <div class="row col-md-12" style="padding-bottom:20px;">
      </div>
    </div>
  </div>

  <div class="col-md-4"></div>
</div>



<!--  BACK BUTTON -->
<div class="row buonores" style="padding-bottom:140px">
  <div class="col-md-1"></div>
  <div class="row col-md-7 button">
    <div class="row w-100 space_b">
      <div class="col-md-1 pl-0 align-self-start">
        <button type="button" class="btn btn-link pl-0" (click)="backButton()">
          INDIETRO
        </button>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
